[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = mviersel
	email = 119597405+mviersel@users.noreply.github.com
	emal = 119597405+mviersel@users.noreply.github.com
